
<div id="ejercicio"><span class="circuloVerde"></span>
  <section class="contenido">
    <article>
      <h1> </h1>
    </article>
    <article class="lista">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
      <tempor>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</tempor>
      <quis>nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</quis>
      <consequat>. Duis aute irure dolor in reprehenderit in voluptate velit esse</consequat>
      <cillum>dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</cillum>
      <proident>, sunt in culpa qui officia deserunt mollit anim id est laborum.</proident>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
      <tempor>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</tempor>
      <quis>nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</quis>
      <consequat>. Duis aute irure dolor in reprehenderit in voluptate velit esse</consequat>
      <cillum>dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</cillum>
      <proident>, sunt in culpa qui officia deserunt mollit anim id est laborum.</proident>
    </article>
  </section>
</div>